.main-container {
  text-align: center;
  width: 900px;
  margin-left: 13%;
}

.carousel-container {
  display: inline-block; 
}



.span-wrapper{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  margin: 2px;
  display: inline-block;
}




@media screen and (max-width:768px){
  .main-container{
    width: 100%;
  }

}


@media screen and (max-width:320px){
  .main-container{
    width: 100%;
  }

}

