.container-main{
    width: 100% ;
    height: 837px;
    margin: auto;
}

.container-header{
    width: 1002px;
    height: 87px;
    padding: 0px 30px;
    margin: auto;
    
}

.header-section{
   background-color: #7dd9e8;

}

.sub-container{
    height: 837px;
    margin: auto;
    width: 1002px;

}

.searchbar{
    margin-top: 40px;
    margin-left: 24px;
    float: left;
    width: 276px;
    height: 23px;
    background-image: url(../images/searchbar.png);

}

.search-button{
    width: 64px;
    height: 21px;
    float: left;
    margin-top: 40px;
    margin-left: 9px;
    background-image: url(../images/search-bg.png) ;

}

.header-info{
    margin-top: 24px;
    float: right;
    width: 146px;
    height: 38px;

}

/* Navigation Bar */
.navbar-section{
    width: 100%;
    background-color: #f5f5f5;
}

.navbar{
    margin: auto;
    width: 1002px;
    padding: 0px 30px;
    height: 41px;
}

.topic, .friendreq{
    float: left;
    font-family: sans-serif;
    width: 156px;
    font-size: 13px;
}

.friendreq span{
    color: rgb(136, 133, 133);

}

.topic{
    margin-right: 30px;
}

.topic img, .friendreq img{
    margin-top: 2px;
    margin-right: 8px;
}


/* Main Area */

/* Recent Searches */

.main-area{
    height: 667px;
    width: 1002px;
    margin: auto;
    padding: 30px;
    font-family: sans-serif;
}

.recent-searches{
    float: left;
    width: 197px ;
    height: 650px;
    background-color: #f5f5f5 ;   
}

/* Entries Section */

.entries-title{
    margin-bottom: 10px;
}
.entries{
    width: 500px;
    height: 100%;
    float: left;
    margin-left: 28px;
    margin-right: 15px;
   
}

.entries-top{
    width: 524px;
    height: 66px;

}

.entries-bottom{
    width: 100%;
}

.left-part, .right-part{
    height: 66px;
    width: 260px;

}



.left-part{
    float: left;
    background-image: url(../images/entriesbg-1.png) ;
    margin-right: 2px;
}

.right-part{
    float: left;
    background-image: url(../images/entriesbg-2.png);
}

.all-members{
    text-align: center;
    float: left;
    width: 113px;
    height: 28px;
    margin-top: 13px ;
    margin-left: 13px;
    background-image: url(../images/all-members.png);
}

.entries-other:hover{
    background-image: url(../images/all-members.png);
}

.entries-other{
    text-align: center;
    float: right;
    font-size: 15px;
    margin-top: 13px;
    width: 113px;
    height: 28px;
    margin-right: 13px;
    background-image: url(../images/entries-bg.png) ;

}

.left-title, .right-title{
    font-size: 15px;
    padding-top: 8px;
}


/* Entries Bottom Section */

.post-update{
    margin-top: 10px;
    height: 85px;
    padding-top: 13px ;
    margin-bottom: 10px;
    border-bottom: 2px rgb(133, 130, 130) solid;

}



.picture{
   float: left;
}

.detail{
    float: left;
    margin-left: 5px;
}


/* Main area Right Section */

.right-space{
    float: right;
    width: 177px;
    height: 650px;
    background-color: #f5f5f5 ;
}


.footer-section{
    background-color: #868686 ;

}

.footer{
    width: 1002px;
    margin: auto;
    height: 35px;
    padding: 14px 30px 14px 30px;
     
}
