*{
    margin: 0px;
    padding: 0px;
   
}

.clearfix::after{
    clear: both;
    content: '';
    display: table;
}




 a {
    color: inherit;
    text-decoration: inherit;
  }

a:hover{
    text-decoration: underline;
}