body {
  background-color: rgb(97, 97, 11);
}

canvas {
  border: 1px solid black;
  align-items: center;
  margin-top: 100px;
  background-color: black;
}
.game {
  margin: auto;
  text-align: center;
  color: white;
}

.game_buttons {
  display: none;
}

.reload_button {
  position: absolute;
  left: 15%;
  top: 8%;
  font-size: 40px;
}

.info_button {
  position: absolute;
  top: 8%;
  right: 15%;
}
