.logo{
    margin-top: 20px ;
}

input[type="text"]{
    width: 100%;
    padding: 5px;
    font-size: 12px;
    background: none;
    border: none;
}

.btn{
    background: none;
    border: none;
    padding: 5px;
    font-size: 12px;
    color: white;
}

.link1, .link2 {
    font-size: 13px;
    /* border-right: 2px black solid; */
    
}

.link3{
    font-size: 12px;

}


/* Navigation Bar */

.friendreq img{
    width: 14px;
    height: 15px;
}

.link3{
    margin-left: 3px;

}

.name-header{
    margin-left: 55px;
    font-size: 18px;
}

.nav-left{
    font-size: 15px;
    float: left;
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: sans-serif;
}

.nav-right{
    float: right;
    padding-top: 5px;
    padding-bottom: 13px;
}

.nav-items1{
    margin-left: 10px;
}

.nav-items, .nav-items1{
    margin-right: 28px;
}


/* Main Section */

.top-search-bar, .bottom-search-bar, .right-top-bar{
    color: white; 
    text-align: center;
    background-color: #7dd9e8 ;
    height: 35px;
    font-size: 20px ;
    padding: 20px 15px 5px 0px;
}

li{
    list-style: none;
    height: 30px;
    padding: 5px;

}

.search-list{
    font-size: 13px;

}

.search-list1{
    font-size: 15px;
}

.search-listopt{
    font-size: 13px;
}



.recent-searches li:hover{
    background-color: #fff;

}

.search-items img{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 10px;
}


/* Entries Section */

.entries{
    font-size: 14px;
}

.left-part{
    text-align: center;
    
}

.right-part{
    text-align: center;
}

/* .entries-top{
    border-bottom: 3px solid #7dd9e8;
    margin-bottom: 0px;
} */


/* Entries Bottom Section */

.author{
    color: #51bdce;
    padding-right: 5px;
    font-weight: bold;
    border-right: 1px solid black;
}

.lower-detail{
    font-size: 13px;
}

.dates{
    padding-left: 5px;
    border-right: 1px solid black;
    padding-right: 5px;
}

.dates2{
    padding-left: 5px;
    padding-right: 5px;

}

.subscribe{
    padding-left: 5px;
    color: green;
}

.topic-detail{
    color: #51bdce;
    font-weight: bold;
}

.post-title{
    margin-bottom: 20px;
    font: bold;
}

.post2, .post3 {
    color: #51bdce;
    font-size: 12px;
    font-weight: bold;
}

.detail{
    line-height: 18px;
}

.post5{
    font-size: 12px;
    color: rgb(233, 52, 52);
    font-weight: bold;
}

.more-info{
    font-weight: bold;
}


/* Video Section */

.video-lists{
    font-size: 13px;
}

.right-space li:hover{
    background-color: #fff;

}



/* FOOTER */

.footer li:first-child{
    list-style: none;
    margin-left: 0px;
}

.footer li {
    font-size: 15px;
    margin-left: 25px;
    list-style: disc;
    float: left;
    color: white;
}

.copyright{
    font-size: 15px;
    float: right;
    color: white;
    padding: 5px;
}





