* {
  padding: 0px;
  margin: 0px;
}

.wrapper {
  width: 600px;
  min-height: 400px;
  position: relative;
  background: grey;
  border: 5px black solid;
}

.container {
  margin-left: 300px;
}

.box-wrapper-1 {
  margin-left: 300px;
  margin-top: 20px;
}