.main-content-wrapper{
    min-width: 320px;

}


/* ---------- TOP BAR -------------- */



.top-bar{
    padding: 10px; 
    height: 40px;
    width: 100%;
    border-bottom: 1px solid purple;
}


.social i{
  margin-right: 10px;
   font-size: 15px;
    padding: 5px;
    border-radius: 50%;
    
}

.social li{
  height: 30px;
  width: 30px;
}

.top-text{
    display: none;
}


/* ------------- HEADER ------- */

.header{
    padding: 20px ;
    text-align: center;
    margin-bottom: 10px;
}
.header{
  padding-bottom: 0px;
}

.header img{
    max-width: 100%;
}

.search-form{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.search-form button{
  border-radius: 0px 5px 5px 0px;
}

.top-nav{
  border-radius: 5px;
}

.toggle-container{
  display: none;
}


.top-nav #myLinks{
    display: none;
}

.home-nav{
  border-top: 1px solid black; padding-top: 5px;
}

.sticky{
  position: fixed;
  top:0;
  background-color: #97455f67;
  box-shadow: 0 2px 2px rgba(134, 134, 134, 0.801);
  z-index: 9999;
  max-width: 300px;
  min-width: 280px;

}


/* Mobile Navigation */

.header-main{
  display: none;
}

.top-nav{
  display: none;
}

.mobile-nav{
  margin: auto;
  max-width: 320px;
  overflow: hidden;
}

.mobile-nav .main-logo{
  margin-left: 10px;
  float: left;
}

.mobile-nav .nav-icon i{
  align-self: center;
  /* margin-right: 15px; */
  font-size: 20px;
  color:#97455f;
}

.mobile-nav .nav-icon{
  float: right;
}

.mobilenav-top{
  overflow: hidden;
  margin-bottom: 10px;
}

.mobilenav-top .main-logo img{
  margin-top: 5px;
 width: 220px;
}

.nav-list-mobile ul li{
  margin-bottom: 5px;
  list-style: none;
}

.mobile-nav #myLinks{
  display: none;
}

.mobile-nav .search-form{
  margin-top: 10px;
}

.nav-icon{
  text-align: center;
}

.nav-icon button{
  background-color: inherit;
  border: none;
  border-radius: 5px;
  padding: 5px;
}




/* ---------- SLIDER ------------- */


.slider{
    padding: 30px;
}

.slider-text h1{
    margin-bottom: 5px;
}

.text h1{
  font-size: 20px;
}
.text p{
  font-size: 8px;
}


/* SLIDER CONTAINER */

.slideshow-container {
    max-height: 100%;
    max-width: 1000px;
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  
  /* Hide the images by default */
  .mySlides {
    margin-left: auto;
	 margin-right: auto;
     max-width: 40em;
    overflow: hidden;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    background-color: #adadadad ;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 5px;
    position: absolute;
    bottom: 8px;
    max-width: 100%;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    border: 2px solid black;
    color: black;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #fff;
  }



  /* ---------- CONTENT --------- */

  .content{
    overflow: hidden;
  }

  .title{
      margin-bottom: 40px;
      text-align: center;
  }

  .content{
      overflow: hidden;
      padding: 30px;
  }

  .image-container{
      float: left;
  }

  .words-title{
      margin-bottom: 17px;
  }

  .post{
      overflow: hidden;
      margin: auto;
    max-width: 320px;
      margin-bottom: 25px;
  }

  .post img{
      height: 64px;
      width: 64px;
  }

  .words p{
      margin-top: 5px;
  }

.words{
    float: right;
    width: 65% ;
  }



  /*---------- REVIEW SECTION ---------------*/

  .review-image{
    overflow: hidden;
    max-width: 100%;
    margin-top: 20px;
  }

  .review-image img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    max-width: 100%;
  }


  .review{
    padding: 30px;
    text-align: center;
    overflow: hidden;
  }

.review-left, .review-right{
  margin-bottom: 20px;
  overflow: hidden;
}

  .review-text{
    margin-bottom: 10px;
  }

  .review-detail{
    margin: 10px auto;
  }

  .review-title{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 6px;
  }

.review-text{
  margin-top: 10px;
}

.citation{
  margin-top: 10px;
}

.cite-img{
  float: left;
  margin-bottom: 10px;
}

.cite-words .additional{
  margin-right: 50px;
}

.cite-words{
  font-size: 18px;
  text-align: center;
  width: 70%;
  float: right;
  margin-bottom: 10px;
}

.cite{
  margin-top: 10px;
  margin-bottom: 30px;
  float: left;
}


/* CONTACT SECTION */

.contact{
  margin-top: 10px;
  color: white;
}

.contact-word{
  margin-bottom: 15px;
}

.contact-button button{
  font-weight: bold;
  font-family: serif;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 10px;

}

.contact{
  border-radius: 10px;
  background-color: #97455f;
  padding: 20px ;
}

.contact-title{
  margin-bottom: 5px;
  font-size: 30px;

}



/*---------- FOOTER SECTION --------------*/

.footer{
  padding: 30px;
  border-top: 5px solid #d2d2d2;
  height: fit-content;
  overflow: hidden;
}

.box1{
  height: fit-content;
  overflow: hidden;
}



.box1-title{
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  
}

.inner-box{
  margin-top: 20px;
  overflow: hidden;
}

.footer-img-container{
  padding-top: 20px;
  float: left;
  width: 15%;
  
}

.inner-words{
  width: 70%;
  float: right;
  margin-left: 10px;
}

.footer-img-container img{
  width: 70px;
  height: 70px;
}

.inner-detail{
  
  font-size: 14px;
  margin-top: 10px;
}


.inner-box2{
  margin-top: 30px;
}


/* BOX 2 */

.box2{
  margin-top: 40px;
  overflow: hidden;
}

.box2-title{
  text-align: center;
  font-size: 20px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.detail1{
  margin-top: 20px;
}

.detail1 li, .detail2 li{
  list-style: none;
}

.email{
  color: #97455f;
}

.detail2{
  margin-top: 15px;
}

.detail3-title{
  color: rgb(148, 148, 148);
  font-weight: 800;
}

.detail3{
  margin-top: 15px;
}


/* Box3 */

.box3{
  margin-top: 40px;
}

.box3-title{
  text-align: center;
  font-size: 20px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.form input, textarea{
  border-radius: 5px;
  padding: 5px;
  border: none;
  margin-top: 5px;
  width: 234px;
}

.form{
  margin-top: 10px;
}

.form button{
  width: 234px;
  margin-top: 10px;
}



/* ---------- Copy Right Section ------------- */

.copyright{
  border-top: 1px solid black;
  padding: 30px;
  overflow: hidden;
}

.copy-left{
  font-size: 15px;
  float: left;
}

.copy-right{
  font-size: 15px;
  float: left;
  margin-top: 20px;
}


/* -------------------------- MEDIA QUERIES --------------------------------- */

@media screen and (min-width:768px){
  .main-content-wrapper{
    margin: auto;
    min-width: 768px;
    max-width: 992px;

}

/* Top Bar */

.top-text{
  display: unset;
}

.top-text li{
  color: #97455f ;
  font-size: 13px;
  float: left;
}

/* Header */

.header{
  overflow: hidden;
}

.main-logo{
  margin-top: 10px;
  float: left;
}


.search-form{
  float: right;
}

.header{
  padding-bottom: 0px;
}

.header-main{
  margin-top: 0px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.search-form{
  margin: 0px;
}


/* Navigation Bar */

.top-nav{
  display: block;
}

.header-main{
  display: block;
}

.mobile-nav{
  display: none;
}


.sticky{
  position: fixed;
  top:0;
  float: left;
  margin: auto;
  background-color: #97455f67;
  box-shadow: 0 2px 2px rgba(134, 134, 134, 0.801);
  z-index: 9999;
  max-width: 750px;
  min-width: 730px;

}

.nav-icon{
  display: none;
}

.top-nav #myLinks{
  display: block;
}

.home-nav{
  padding: 0px;
  margin: 0px;
  border: none;
}

.top-nav{
  overflow: hidden;
}


.nav-item{
  width: fit-content;
  height: fit-content;
  padding: 5px 2px 5px 2px;
}

.top-nav li{
  font-size: 15px;
  float: left;
  margin-left: 15px;
}


/* Sliders */

.text{
  width: 50%;
  max-width: 286px;
  margin-left: 350px;
}

.text h1{
  font-size: 20px;
}
.text p{
  font-size: 13px;
}


/* Content Section */

.content{
  margin: auto;
  padding-left: 50px;
}

.post{
  max-width: 340px ;
  float: left;
}

.words{
  width: 60%;
  margin-right: 30px;
}

.post img{
  margin-left: 30px;
}


/* REVIEW SECTION */


.review-left{
  margin-top: 10px;
  float: left;
  width: 350px;
}

.review-image{
  float: left;
}

.review-image img{
  margin-left: 20px;
}

.review-detail{
  margin-top: 20px;
  width: 50%;
  overflow: hidden;
  text-align: left;
}

.review-title{
  font-weight: normal;
  float: left;
}


.review-right{
  float: right;
  width: 350px;
  height: 240px;
  padding-top: 10px;
}

.review-section{
  overflow: hidden;
}

.cite-words{
  text-align: left;

}

.cite{
  text-align: left;
  width: 70%;
}

.cite-img img{
  margin-left: 30px;
}


/* Contact */

.contact{
  overflow: hidden;
}

.contact-word{
  float: left;
  margin-left: 20px;
}

.contact-button{
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}


/* Footer Section */

.first2-boxes{
  min-width: 768px;
  overflow: hidden;
  
}

.footer-img-container{
  padding-top: 0px;
}

.inner-words{
  margin: 0px 20px 0px 0px;
}

.box1{
  float: left;
  width: 50%;
  padding-left: 20px;
}

.box2{
  margin-top: 0px;
  float: right;
  width: 50%;
  padding-left: 80px;
}

.box3-title{
  margin-left: 10px;
}

.box3{
  border: 5px solid #d2d2d2;
  border-radius: 10px;
  padding-top: 20px;
  margin-top: 30px;
  overflow: hidden;
  width: 100%;
  text-align: center;
 
}

.form{
  margin: 20px auto;
  width: 40%;
}

.form input, textarea{
  border-radius: 5px;
  padding: 5px;
  border: none;
  margin-top: 5px;
  width: 340px;
}

.form button{
  width: 340px;
}


/* Copyright Section */

.copy-right{
  float: right;
  margin-top: 0px;
}









}

@media screen and (min-width:992px){

  .main-content-wrapper{
    min-width: 1000px;
    max-width: 100%;
    overflow: auto;
  }

  /* Top Bar */

  .topbar-container{
    width: 100%;
    border-bottom: 2px solid purple;
  }

  .top-bar{
    margin: auto;
    height: 50px;
    width: 1000px;
    border-bottom: 0px;
  }

  .social i{
    margin-right: 10px;
     font-size: 16px;
      padding: 8px;
      border-radius: 50%;
      
  }

 

  .top-text{
    margin-top: 5px;
    font-size: 15px;
    vertical-align: center;
  }

 /* Header Section */

 .main-logo{
   float: left;
 }

 .toggle-container{
   display: inline-block;
   min-width: 980px;
   min-height: 20px;
 }
 .toggle{
   float: right;
   border-radius: 0px 0px 5px 5px;
   margin-right: 30px;
   padding-top: 3px;
   color: white;
   width: 30px;
   height: 25px;
   background-color: #97455f;
 }

 .toggle button{
   border: none;

 }

 .header{
   padding-bottom: 0px;
 }

 .header-main{
   overflow: hidden;
   margin: 0px;
   padding-top: 10px;
   margin-left: 0px;
   padding-bottom: 30px;
 }

 .main-logo{
   width: 300px;
   height: 46px;
 }

 .main-logo img{
   margin-top: 10px;
 }

.header-container{
  background-color: #ebebeb;
  width: 100%;
}

.header{
  padding-top: 0px;
  max-width: 1000px;
  margin: auto;
}

.search-form{
  float: right;
  margin-top: 10px;
  padding-bottom: 0px;
}

.search-form input{
  border-radius: 5px 0px 0px 5px;
  width: 218px;
}



/* Navigation Bar */

.sticky{
  border-radius: 5px;
  position: fixed;
  top:0;
  width: 950px;
  margin: auto;
  box-shadow: 0 2px 2px rgba(134, 134, 134, 0.801);
  z-index: 9999;
  max-width: 100vw;
  border-radius: 5px;

}

.sticky .nav-list{
  align-items: center;
  margin-top: 18px;
  margin: auto;
}

  .top-nav{
    border-radius: 0px;
    padding: 0px 0px 0px 0px;
    vertical-align: center;
    /* margin-top: 10px; */
    background-color: #97455f ;
    overflow: hidden;
}
.top-nav li{
    overflow: hidden;
    list-style: none;
}

.nav-item{
  margin-right: 10px;
}

.header-main{
  display: block;
}

.mobile-nav{
  display: none;
}

/* Sliders */

.slideshow-container img{
  width: 900px;
  max-width: 100%;
  height: 350px;
}

.mySlides {
  text-align: center;
  margin: auto;
 max-width: 100%;
}

.slider{
  max-width: 1000px;
  margin: auto;
}

.mySlides img{
  max-height:  350px;
}

.text{
  text-align: left;
  margin-left: 420px;
  margin-bottom: 15px;
  min-width: 500px;
  height:120px ;
  width: 500px;
  padding: 10px 30px;

}

.text h1{
  font-size: 36px;
  margin-bottom: 10px;
}


.text p{
  font-size: 15px;
}

/* Content Section */


/* Image Animations */


.image-container{
  background-color: #000;
  width: 64px;
  height: 64px;
}

.image-container img {
opacity: 1;
transition: transform 0.5s, opacity 0.5s;
}

.image-container img:hover {
opacity: 0.7;
}





.content{
  max-width: 1000px;
  margin: auto;
  padding-left: 50px;
}

.words-title{
  margin-bottom: 17px;
}

.post{
  width: 273px;
  height: 93px;
  margin-right: 55px;
}

.post img{
  height: 64px;
  width: 64px;
  float: none;
  margin: 0px;
}



.post1, .post4{
  margin-right: 45px;
  
}

.post3, .post6{
  margin-right: 0px;
}

/* Review Section */

.review{
  width: 1000px;
  margin: auto;
}

.review-image img{
  height: 128px;
  width: 128px;
}

.review-image{
  padding-top: 15px;
  margin-right: 10px;
  margin-top: 5px;
}

.review-text{
  width: 100%;
}



.review-detail{
  width: 63%;
}

.review-left{
  margin-top: 10px;
}



.review-left, .review-right{
  width: 460px;
}

.review-title{
  font-weight: 500;
}

.review-detail{
  margin-top: 40px;
}

.cite{
  width: 100%;
  float: left;
  margin-top: 0px;
  margin-right: 80px;
}


.cite-words{
  margin-right: 50px;
}

.cite-img img{
  margin-left: 0px;
}

/* contact Section */

.contact{
  overflow: hidden;
  height: 110px;
}

.contact-title{
  font-size: 38px;
}

.contact-word{
  text-align: left;
  width: 60%;
}

.contact-box{
  height: 106px;
  width: 280px;
}

.contact-subtext{
  font-size: 16px;
  padding-bottom:  20px;
}


.contact-button button{
  height: 60px;
  width: 270px;
  font-weight: normal;
  font-family: serif;
  color: #97455f;
  font-size: 23px;
  padding: 10px;
  border: none;
  border-radius: 10px;

}

.contact-button{
  margin-top: 5px;
  margin-bottom: 25px;
}

.contact{
  overflow: hidden;
  border-radius: 10px;
  background-color: #97455f;
  padding: 20px ;
}

.contact-title{
  font-size: 35px;

}

.contact-container{
  padding: 0px 30px 0px 30px
}


/* Footer Section */

.footer-container{
  border-top: 5px solid #d2d2d2;
  background-color: #ebebeb;
  width: 100%;

}

.footer{
  border: 0px;
  max-width:1000px;
  margin: auto;
}

.first2-boxes{
  float: left;
  width: 687px;
  min-width: 0px;
}

.box1{
  width: 458px;
}

.box2{
  width: 200px;
  padding: 0px;
  float: left;
}

.box3{
  float: right;
  width: 227px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  text-align: left;
}

.form input, textarea{
  max-width: 250%;
  border-radius: 5px;
  padding: 5px;
  border: none;
  margin-top: 5px;
}

.footer{
  margin-top: 40px;
}

.footer-img-container{
  width: 100px;
  height: 100px;
}

.footer-img-container img{
  padding: 5px;
  border: 1px solid #adadad;;
  height: 95px;
  width: 95px;
}





textarea{
  height: 112px;
}

.box3-title{
  width: 100%;
  text-align: left;
  float: left;
  margin: 0px;
}

.form{float: left;}

.form button{
  width: 100%;
  margin: 0px;
}



/* CopyRight Section */

.copyright-container{
  border-top: 2px solid #d2d2d2;
  background-color: #ebebeb;
  width: 100%;

}

.copyright{
  border: 0px;
  max-width: 1000px;
  margin: auto;
}





}




