* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;     
}

html{
    font-family: serif;
}

a {
    color: inherit;
    text-decoration: inherit;
    display: inline-block;
  }

a:hover{
    text-decoration: underline;
}

.top-nav a{
    text-decoration: none;
}