/* TOP BAR */



.social li{
    margin-left: 2px;
    float: left;
    list-style: none;
    color: white;
}

.social i{
    background-color: #d2d2d2;
    transition: background-color 0.2s;

}

.social i:hover{
    background-color: #ee802f;

}


.top-text li{
    list-style: none;
}

.top-text{
    float: right;
}


/* ------ HEADER -------- */

.header{
    background-color: #ebebeb;
}


.search-form button{
    background-color: #97455f;
    color: white;
    padding: 5px;
    border: none;
}

.search-form input[type="text"]{
    padding: 5px;
    height: 29px;
    border: none;
    border-radius: 5px;
    transition: border 0.2s;
}

.search-form input[type="text"]:focus{
    border: 1px solid rgb(168, 116, 19);
}





.nav-icon i{
    color: white;
}

.nav-icon{
    margin-bottom: 5px;
}

.top-nav{
    padding: 10px 0px;
    background-color: #97455f ;
}
.top-nav li{
    list-style: none;
}

.top-nav li{
    font-size: 12px;
}

/* NAV ITEMS */


/* Sticky Navigation */







.nav-list{
    color: white;
}

.nav-item{
    width: 100%;
}

.nav-list li{
    transition: background-color 0.2s;
}

.nav-list li:hover{
    background-color: #6a3144;


}



/* .img{
    position: relative;
    background-color: #333333 ;
} */


/* ---------- Slider ---------- */

.slider-text{
    color: white;
}

.text{
    background-color: #adadad;
}


  /* ---------- CONTENT --------- */

  .title-text {
    overflow: hidden;
    text-align: center;
  }

  .top-text{
      overflow: hidden;
  }
  
  .title-text:before,
  .title-text:after {
    background-color: #d2d2d2;
    content: "";
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  .title-text:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .title-text:after {
    left: 0.5em;
    margin-right: -50%;
  }


  .words-title{
      color: #97455f ;
  }

  .words p{
      font-size: 13px;
      color: #999999;
  }



  /*------------- REVIEW SECTION ---------------*/

 .review-text, .cite{
     font-size: 13px;
     color: #999999;
 }

  .additional{
      font-size: 13px;
      color: #97455f;
  }



/* CONTACT SECTION */

.contact-button button{
    font-weight: bold;
    font-family: serif;
    color: #97455f;
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.2s;
  
  }

  .contact-button button:hover{
      background-color: #c90101c5;
      color: white;
  }




/*---------- Footer Section ------------- */

.footer{
    background-color: #ebebeb ;
}


.inner-title{
    color: #97455f;
    font-size: 18px;
}

.form button{
    background-color: #97455f;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;

}

.form button:hover{
    background-color: #e20000c5;
}

.form li{
    list-style: none;
}

.inner-detail{
    font-size: 13px;
    color: #999999;
}

.detail1, .detail2, .detail3{
    margin-bottom: 20px;
    font-size: 13px;
    color: #999999;

}

.form input, textarea{
    font-size: 13px;
    color: #999999;
}



/* ---------- Copy Right Section ------------- */

.copyright{
    background-color: #ebebeb ;
     font-size: 13px;
    color: #999999;;

}