/* TOP BAR */



.social li{
    margin-left: 2px;
    float: left;
    list-style: none;
    color: white;
}

.social i{
    background-color: #d2d2d2;
    transition: background-color 0.2s;

}

.social i:hover{
    background-color: #ee802f;

}


.top-text li{
    list-style: none;
}

.top-text{
    float: right;
}


/* ------ HEADER -------- */

.header{
    background-color: #ebebeb;
}


.search-form button{
    background-color: #97455f;
    color: white;
    padding: 5px;
    border: none;
}

.search-form input[type="text"]{
    padding: 5px;
    height: 29px;
    border: none;
    border-radius: 5px;
    transition: border 0.2s;
}

.search-form input[type="text"]:focus{
    border: 1px solid rgb(168, 116, 19);
}





.nav-icon i{
    color: white;
}

.nav-icon{
    margin-bottom: 5px;
}

.top-nav{
    padding: 10px 0px;
    background-color: #97455f ;
}
.top-nav li{
    list-style: none;
}

/* NAV ITEMS */


/* Sticky Navigation */


/* .sticky-bg{
    background-color: #97455f;
    position: fixed;
    top:0;
    width: 100%;
    background-color: #97455f;
    box-shadow: 0 2px 2px rgba(134, 134, 134, 0.801);
    z-index: 9999;
} */






.nav-list{
    color: white;
}

.nav-item{
    width: 100%;
}

.nav-list li{
    transition: background-color 0.2s;
}

.nav-list li:hover{
    background-color: #6a3144;


}



/* .img{
    position: relative;
    background-color: #333333 ;
} */


/* ---------- Slider ---------- */

.slider-text{
    color: white;
}


  /* ---------- CONTENT --------- */

  .title-text {
    overflow: hidden;
    text-align: center;
  }

  .top-text{
      overflow: hidden;
  }
  
  .title-text:before,
  .title-text:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  .title-text:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .title-text:after {
    left: 0.5em;
    margin-right: -50%;
  }


  .words-title{
      color: #97455f ;
  }



  /*------------- REVIEW SECTION ---------------*/



  .additional{
      color: #97455f;
  }


  blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145% ;
    position: relative;
    margin-top: 40px;
}

blockquote:before{
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3;
}


/* CONTACT SECTION */

.contact-button button{
    font-weight: bold;
    font-family: serif;
    color: #97455f;
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.2s;
  
  }

  .contact-button button:hover{
      background-color: #c90101c5;
      color: white;
  }




/*---------- Footer Section ------------- */

.footer{
    background-color: #ebebeb ;
}


.inner-title{
    color: #97455f;
    font-size: 18px;
}

.form button{
    background-color: #97455f;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;

}

.form button:hover{
    background-color: #e20000c5;
}

.form li{
    list-style: none;
}


/* ---------- Copy Right Section ------------- */

.copyright{
    background-color: #ebebeb ;

}